# Firebase Admin SDK
FIREBASE_PROJECT_ID=shashka-shaxmat
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@shashka-shaxmat.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://shashka-shaxmat-default-rtdb.asia-southeast1.firebasedatabase.app

# Admin
ADMIN_SEED_TOKEN=your-secret-token-here

# Port (Railway avtomatik beradi)
PORT=3000
